  <!-- 

    OLD STYLE CARDS 

  <li>
    <a>
      <h2>Public Note ID: {{note[4]}}</h2>
      <h3>note written on: {{ note[2] }}</h3>
      <p>{{ note[3] }}</p>
    </a>
  </li>
 -->

  <li class="card notes__card-wrapper">
    <div class="card-body notes__card-body">
      <h5 class="card-title notes__card-title">Note ID: {{note[0]}}</h5>
      <h6 class="card-subtitle mb-2 notes__card-subtitle">note written on: <span class="notes__card-subtitle--date ">{{ note[2] }}</span></h6>
      <p class="card-text">{{ note[3] }}</p>
      <form action="/delete" method="post">
        <input hidden="true" value="{{note[0]}}" name="noteid">
        <button type="submit" href="#" class="card-link card-delete-button btn-outline-sm">Delete</button>
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
      </form>
    </div>
  </li>